@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.sleepSweetly{
    font-size: 29px;
    letter-spacing: 0.6px;
    word-spacing: 0px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.ourcomforters{
  text-align: center;
    /* font-size: 29px; */
    letter-spacing: 0.6px;
    word-spacing: 0px;
    color: orange;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}
.ourcomfortersone {
  text-align: center;
  /* font-size: 29px; */
  letter-spacing: 0.6px;
  word-spacing: 0px;
  color: black;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.mycontainer{
  margin-top: 3em;
  position: relative;
}
.myNav{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
}
.mydiv{
  width: 60%;
  z-index: 100;
  position: absolute;
  top: -1.5em;
  left: 20%;
}
.mydivFixed {
  z-index: 100;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.input {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.mynav{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

